:root {
  --primaryColor: #ef6c00;
  --secondaryColor: #283593;
  --background: #fff;
  --mainColor: #2f363d;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background) !important;
  min-width: 320px !important;
  max-width: 2560px !important;
  display: block;
  --mainSpacing: 0.1rem;
  text-decoration-line: unset;
}
.img {
  max-width: 100%;
  height: auto;
}
.img-fluid {
  margin-top: 8rem;
}
/*Navbar*/
.main {
  position: relative;
  overflow: hidden;
  width: 100% !important;
}
.sidebar {
  visibility: hidden;
}
.navbar-brand-logo-title {
  position: fixed top;
  width: 10rem;
  height: 70%;
}
.mainText {
  position: absolute;
  width: 40% !important;
  height: 30rem;
  left: 1rem;
  color: white;
  z-index: 1;
  top: 8rem;
  margin-top: 8rem;
}
.mainText p {
  margin-top: 14rem !important;
  width: 86% !important;
  margin-bottom: 5rem;
}
.mainText button {
  margin-top: 25rem;
  height: 3rem;
}
.icon-menu {
  position: relative;
  visibility: hidden;
  z-index: 5;
}
.container {
  max-width: 1170px !important;
  position: relative;
}
.fas {
  font-size: 2.5rem;
  color: var(--secondaryColor);
  align-self: center;
}
.signUp {
  margin-bottom: 3px;
  width: 50%;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600 !important;
  line-height: 40px !important;
}
.fas:hover {
  color: #236dbb;
  transition: var(--mainTransition);
}
.photos {
  border-radius: 5rem;
}
p {
  margin-top: 1rem !important;
  position: absolute;
}
.line {
  border-bottom: 2px solid rgba(22, 20, 20, 0.7);
}
.navbar {
  cursor: pointer;
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  transition: var(--mainTransition);
  z-index: 40 !important;
  height: 8rem;
}
.navbar-brand {
  margin-right: auto;
  margin-left: auto;
  z-index: 3;
}
.ml-auto:hover {
  text-decoration: none;
}
a {
  color: var(--mainColor) !important;
}
a:hover {
  color: var(--primaryColor) !important;
  transition: var(--mainTransition);
  text-decoration: none !important;
}
a:focus {
  color: var(--primaryColor) !important;
  background-color: var(--secondaryColor);
  border: 4px solid var(--primaryColor);
  border-radius: 1rem;
  transition: var(--mainTransition);
}
.list-group {
  height: 0;
}
/*Fonts*/
h1 {
  font-family: "Overpass", sans-serif;
  font-weight: 600 !important;
  font-size: 50px !important;
  line-height: 60px !important;
  position: absolute;
}
h2 {
  font-family: "Overpass", sans-serif;
  font-weight: 600 !important;
  font-size: 42px !important;
  line-height: 51px !important;
}
h3 {
  font-family: "Overpass", sans-serif;
  font-weight: 600 !important;
  font-size: 26px !important;
  line-height: 31px !important;
}
h4 {
  font-family: "Overpass", sans-serif;
  font-weight: 600 !important;
  font-size: 20px !important;
  line-height: 26px !important;
}
h5 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600 !important;
  font-size: 18px !important;
  line-height: 21px !important;
}
p {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400 !important;
  font-size: 18px !important;
  line-height: 26px !important;
}
.p2 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 22px !important;
}

/* About Me */
.AboutMe {
  margin-top: 10rem !important;
}
.mainTextAboutMe {
  margin-top: 2rem !important;
}
.signUpAboutMe {
  color: var(--primaryColor);
}
.row {
  width: 90%;
  margin-top: 10rem;
  margin-bottom: 3rem;
}

/* Requirements */
.RequirementsContainerText {
  position: absolute;
  color: var(--background);
  justify-items: center;
  width: 90vw;
  max-width: 1170px !important;
  margin-top: 20rem !important;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  text-align: left;
}
.RequirementsContainer {
  height: 110vh;
}
.col-image {
  margin-top: 5rem;
}
.RequirementsContainer h1 {
  margin-top: 18rem;
  color: var(--background);
  text-align: center;
  position: absolute;
}
/*Relationships*/
.titleSkills {
  margin-top: 10rem;
}
/*Users*/
.usersContainer {
  max-width: 1170px;
  max-height: max-content;
}
.usersMain {
  margin-top: 1rem;
}
.usersMembers h3 {
  padding-top: 0rem !important;
  height: auto;
}
.usersMembers button {
  color: var(--primaryColor);
  background: #fff !important;
  border: 0.1rem solid var(--primaryColor);
  margin-left: auto;
  margin-right: auto;
}
.userRow {
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  margin: 0 auto;
}
.usersImg {
  border-radius: 5rem !important;
  height: 5rem;
}
.usersInfo p {
  margin-top: 0rem !important;
  position: relative;
}
.col-sm-6 {
  max-width: 33% !important;
}
/*SignUp*/
.signUpContainer {
  margin-top: 3rem;
}

.d-inline-flex {
  width: -webkit-fill-available;
}
.navbar-icons {
  background-color: var(--secondaryColor) !important;
  border-bottom: 0.05rem solid #6c757d;
  height: 5rem;
}
h5:hover {
  text-decoration: none !important;
  color: var(--primaryColor);
}
.navbar-brand-icons h5 {
  color: var(--background) !important;
}
.input {
  border-radius: 0.3rem 0 0 0.3rem !important;
}
.signUpContainer button {
  margin-left: 0 !important;
  margin-top: 0 !important;
}
.group {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.title {
  position: absolute;
  z-index: 100;
  font-size: 0.8rem;
  color: #b2b7bb;
  margin-top: -0.6rem;
  margin-left: 1rem;
  background: var(--background);
}
.d-inline-flex button {
  color: var(--primaryColor);
  background: var(--background);
  border: 0.2rem solid var(--primaryColor);
  border-radius: 0 0.5rem 0.5rem 0;
  font-weight: 800;
  margin-bottom: 0 !important;
  width: auto;
}
.d-inline-flex button:hover {
  background: #f5d3b8;
  transition: var(--mainTransition);
  color: #f3994f;
  font-weight: 800;
}
.buttonContainer > button {
  background: #d9dcdf;
  color: #6c757d;
  font-weight: 600;
  width: 30%;
}
.form-control-lg {
  font-size: 1rem !important;
  height: 4rem !important;
  position: relative;
}
select {
  margin-left: 1rem !important;
}
select:first-child {
  color: var(--primaryColor) !important;
}
.footerContainer {
  height: max-content;
  background-color: var(--secondaryColor) !important;
}
.footerContacts h4 {
  color: var(--background) !important;
  font-weight: 0;
}
.info p {
  background-color: var(--secondaryColor) !important;
  width: 100%;
  color: var(--background);
  position: relative;
  margin-top: 0 !important;
  font-size: 0.7rem !important;
}
.infoIcons {
  width: 30%;
}
.containerContacts {
  width: 50%;
}
.navbar-brand-logo {
  width: 50% !important;
}
.linkOnSite {
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  margin: 0 auto;
  width: -webkit-fill-available;
  text-align: right;
}
.col-6 h5 {
  color: var(--background);
}
h5:hover {
  color: var(--primaryColor) !important;
  transition: var(--mainTransition);
  cursor: pointer;
}
.icons:hover {
  background: var(--primaryColor) !important;
  border-radius: 1rem;
  cursor: pointer;
  transition: var(--mainTransition);
}
@media screen and (max-width: 1200px) {
  .text-logo {
    visibility: hidden;
    width: 0 !important;
    transition: var(--mainTransition);
  }
}
@media screen and (max-width: 1024px) {
  /*Navbar*/
  .far {
    font-size: xx-small;
  }
  .navbar {
    display: inline-flex !important;
    justify-content: space-between !important;
  }
  a:hover {
    cursor: pointer;
    color: var(--primaryColor) !important;
    text-decoration: none !important;
    transition: var(--mainTransition);
  }
  a:focus {
    color: var(--primaryColor) !important;
    background-color: #fff;
    border: none;
    text-decoration: none !important;
    transition: var(--mainTransition);
  }
  .sidebar {
    top: 1rem;
    display: -ms-flexbox;
    background: var(--background);
    width: 30%;
    height: 100%;
    z-index: 50;
    transition: var(--mainTransition);
    position: absolute !important;
    min-height: 110vh;
    visibility: visible;
  }
  .superstar p {
    margin-top: 0 !important;
  }
  .list-group {
    padding-left: 3rem !important;
  }
  .mainText {
    text-align: center;
    width: 70% !important;
    left: 8rem !important;
    transition: var(--mainTransition);
  }
  .textMain {
    display: flex;
    justify-content: center;
  }
  .mainText p {
    margin-top: 8rem !important;
  }
  .mainText button {
    font-size: 2rem !important;
    width: 80% !important;
    margin-top: 18rem !important;
  }
  /*Fonts*/
  h3 {
    font-size: 1.2rem !important;
    line-height: 1.5rem !important;
    transition: var(--mainTransition);
    height: 10rem;
  }
  h1 {
    font-family: "Overpass", sans-serif;
    font-weight: 600 !important;
    font-size: 42px !important;
    line-height: 47px !important;
    transition: var(--mainTransition);
  }
  /*Requirements*/
  .RequirementsContainerText {
    display: flex;
    flex-direction: column-reverse;
    text-align: left;
    margin-top: 13rem !important;
    margin-left: auto !important;
    margin-right: auto !important;
    justify-content: space-around;
    align-items: center;
    transition: var(--mainTransition);
  }
  /*Users*/
  .usersInfo {
    max-width: 65% !important;
    transition: var(--mainTransition);
  }
  .usersMembers button {
    margin: 0 auto !important;
  }
  /*SingUp*/
  h5 {
    font-size: 14px !important;
  }
  h4 {
    font-size: 18px !important;
  }
  .containerContacts {
    width: 50%;
    transition: var(--mainTransition);
  }
  .navbar-brand-logo {
    transition: var(--mainTransition);
  }
}
@media screen and (max-width: 898px) {
  /*Navbar*/
  ul.navbar-nav {
    visibility: hidden;
  }
  .sidebar p {
    font-size: 16px !important;
  }
  a.ml-auto {
    visibility: hidden;
  }
  .icon-menu {
    visibility: visible !important;
    transition: var(--mainTransition);
  }
  .nav-link {
    width: 0 !important;
  }
  .nav-link-logo {
    width: 100%;
  }
  .mainText {
    left: 4rem !important;
  }
  .mainText button {
    margin-top: 17rem !important;
    width: 100% !important;
  }
  /*Users*/
  .col-sm-6 {
    max-width: 50% !important;
    transition: var(--mainTransition);
  }
  .usersMain {
    margin-top: 0rem !important;
    padding-top: 1rem !important;
  }
  .usersMain h4 {
    margin-top: 0 !important;
  }
  /*SignUp*/
  .containerContacts h5 {
    font-size: 12px !important;
    margin-right: 0.5rem;
  }
}
@media screen and (max-width: 768px) {
  /*Navbar*/
  .navbar-brand {
    margin-left: 0;
    margin-top: 2rem;
  }
  .mainText {
    top: 8rem;
  }
  .mainText p {
    margin-top: 5rem !important;
  }
  .mainText button {
    margin-top: 15rem !important;
    height: 2rem !important;
  }
  .signUp {
    line-height: 30px !important;
  }
  .sidebar p {
    font-size: 12px !important;
  }
  /*Fonts*/
  h1 {
    font-family: "Overpass", sans-serif;
    font-weight: 600 !important;
    font-size: 30px !important;
    line-height: 36px !important;
    transition: var(--mainTransition);
  }
  h3 {
    font-family: "Overpass", sans-serif;
    font-weight: 600 !important;
    font-size: 22px !important;
    line-height: 26px !important;
    transition: var(--mainTransition);
  }
  h4 {
    font-family: "Overpass", sans-serif;
    font-weight: 600 !important;
    font-size: 18px !important;
    line-height: 22px !important;
    transition: var(--mainTransition);
  }
  /*Users*/
  .usersInfo h3 {
    margin-top: 0 !important;
    margin-left: 0 !important;
  }
  /*SignUp*/
  .navbar-brand-icons h5 {
    font-size: 10px !important;
  }
  .col-6 h5 {
    font-size: 10px !important;
  }
  .col-6 {
    max-width: 24% !important;
  }
  .containerContacts h5 {
    font-size: 9px !important;
    margin-right: 1rem;
  }
  .containerContacts {
    width: 60%;
    margin-right: 2rem !important;
  }
}

@media screen and (max-width: 620px) {
  /*Navbar*/
  .navbar-brand {
    margin-top: 6rem !important;
    height: 3rem !important;
    transition: var(--mainTransition);
  }
  .sidebar p {
    font-size: 10px !important;
  }
  .navbar {
    height: 10% !important;
    transition: var(--mainTransition);
  }
  .mainText {
    top: 4rem;
    left: 3rem !important;
  }
  .mainText p {
    margin-top: 4rem !important;
  }
  /*Users*/
  .usersMain {
    margin-top: 0 !important;
  }
  .usersMain h4 {
    margin-top: 0 !important;
  }
  /*Requiremrnts*/
  .RequirementsContainer h1 {
    margin-top: 13rem;
  }
  .col-image {
    margin-top: 0rem;
  }
  /*Fonts*/
  h1 {
    font-family: "Overpass", sans-serif;
    font-weight: 600 !important;
    font-size: 20px !important;
    line-height: 26px !important;
    transition: var(--mainTransition);
  }
  h2 {
    font-family: "Overpass", sans-serif;
    font-weight: 600 !important;
    font-size: 20px !important;
    line-height: 25px !important;
    transition: var(--mainTransition);
  }
  h3 {
    font-family: "Overpass", sans-serif;
    font-weight: 600 !important;
    font-size: 18px !important;
    line-height: 22px !important;
    transition: var(--mainTransition);
  }
  h4 {
    font-family: "Overpass", sans-serif;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 18px !important;
    transition: var(--mainTransition);
  }
}

@media screen and (max-width: 580px) {
  /*Navbar*/
  .mainText {
    top: 3.2rem;
    left: 1rem !important;
  }
  .sidebar p {
    visibility: hidden;
  }
  .sidebar {
    width: 35%;
  }
  .mainText button {
    margin-top: 11rem !important;
    height: 1.5rem !important;
  }
  .mainText p {
    font-size: 0.6rem !important;
    margin-top: 3rem !important;
  }
  .signUp {
    line-height: 20px !important;
  }
  .navbar-brand-logo-title {
    margin-top: -12rem;
    height: 3rem !important;
  }
  .navbar {
    height: 10% !important;
  }
  .icon-menu {
    margin-right: 0 !important;
    margin-top: -32.5rem;
  }
  /*Users*/
  .col-sm-6 {
    max-width: 100% !important;
    transition: var(--mainTransition);
    margin-left: 5rem !important;
  }
  /*SignUp*/
  .containerContacts {
    width: 85%;
  }
}

@media screen and (max-width: 380px) {
  /*Navbar*/
  .mainText {
    top: 3.5rem;
    left: 0rem !important;
  }
  .mainText h3 {
    font-size: 0.7rem !important;
  }
  .mainText button {
    margin-top: 8rem !important;
    height: 1rem !important;
  }
  .mainText p {
    font-size: 0.4rem !important;
    margin-top: 2rem !important;
  }
  .signUp {
    line-height: 12px !important;
  }
  .navbar-brand-logo-title {
    margin-top: -10rem;
    height: 3rem !important;
  }
  .navbar {
    height: 10% !important;
  }
  .icon-menu {
    margin-right: 0 !important;
    margin-top: -27.5rem;
  }

  /*Fonts*/
  h1 {
    font-family: "Overpass", sans-serif;
    font-weight: 600 !important;
    font-size: 15px !important;
    line-height: 17px !important;
    transition: var(--mainTransition);
  }
  h4 {
    font-family: "Overpass", sans-serif;
    font-weight: 600 !important;
    font-size: 10px !important;
    line-height: 11px !important;
    transition: var(--mainTransition);
  }
  /*Users*/
  .col-sm-6 {
    max-width: 100% !important;
    transition: var(--mainTransition);
    margin-left: 0rem !important;
  }
  /*SignUp*/
  .footerContainer {
    visibility: hidden;
  }
}
